body{
  background-color: #EED3D9;
}
.appContainer{
    border:solid green;

}
.navBar{
    border: solid red;
    display: flex;
    justify-content: space-evenly;
    font-size: 20pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.nav{
  color:black;
  text-decoration: none;
  font-weight: bolder;
}

.projectList {
    background-color: #CCD3CA;
    padding:1em;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
  }

  .listing {
    border: 5pt dotted black;
    border-radius: 1cm;
    background-color: #F5E8DD;
    flex: 0 0 31%;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
  }
  .listing:hover {
    border: 5pt dotted black;
    border-radius: 1cm;
    background-color: #EED3D9;
    flex: 0 0 31%;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
  }
  .projectBox {
    border-radius: 5px;
    text-align: center;
    color:black;
    text-decoration: none;
  }

  .info {
    text-align: center;
    height:39%;
    margin-top: auto;
    color: black;
    padding: 1em;
    align-self: flex-end;
  }
  .info h2{
    font-size: 16pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
.info p{
    font-size: 11pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }

  .pic {
    max-width:100%; 
    height: auto;
    border-radius: 5px;
  }
  .selfContainer {
    border:  5pt dotted black;
    border-radius: 50%;
    width: 20%;
    overflow: hidden; 

  }
  
  .self {
    width: 100%;
    float: left;

  }

